.email-btn {
  background-color: rgb(61, 146, 72);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.email-btn:hover {
  background-color: rgb(77, 185, 92);
}

h3 {
  font-family: "Poppins", sans-serif;
}

.tabs {
  background-color: rgb(255, 255, 255);
  color: black !important;
}
