.notifications-container {
  background-color: rgb(112, 219, 112);
  height: 350px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.notifications-container h1 {
  font-size: 80px;
}

.notifications-container h4 {
  font-family: "Poppins" sans-serif;
  font-style: oblique;
  color: white;
  font-weight: 600;
}

@media (max-width: 575px) {
  .notifications-container {
    flex-direction: column;
    height: 100%;
  }
}
