.phone-modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.message {
  text-align: center;
}

.success {
  color: #34af6b;
}

.fail {
  color: tomato;
}

.form-control {
  text-align: center;
}
