.sub-card {
  background-color: rgb(255, 255, 255) !important;
  margin-top: 70px;
  margin-left: 40px !important;
  border-color: #34af6b;
  border-width: 4px;
  box-shadow: 3px 2px 10px #3b3d3c88;
  max-width: 85%;
  max-height: 20%;
  border-radius: 20px;
}

.sub-card-title {
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
}

.sub-card-img {
  object-fit: contain;
  height: 300px !important;
  max-width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.badge {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.more-info-btn {
  background-color: #ffffff;
  border-radius: 12px;
  color: black;
  border-color: rgb(34, 33, 33);
  border-width: 3px;
}

.more-info-btn:hover {
  background-color: rgba(43, 41, 41, 0.788);
  color: white;
  border-color: rgb(43, 41, 41);
}

.card-details {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.13);
}

.modal-image {
}

.modal-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-modal {
  border-radius: 20px;
}

.modal-content {
  border-radius: 20px;
}

.modal-title {
  width: 100%;
  text-transform: capitalize;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.modal-details-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal-content {
  border-color: seagreen;
  border-width: 7px;
  box-shadow: 10px 10px 12px rgba(83, 80, 80, 0.068);
}
