<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Hyacinth 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20131010

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="{{ url_for('static',filename='default.css') }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ url_for('static',filename='font.css') }}" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Pubsub api</a></h1>
<div id="wrapper3">
	<div id="portfolio" class="container">
		<div class="title">
			<h2>Instructions</h2>
			<h5>1. curl -X GET https://pubsub-api.dev/subs/?name= with the desired name of sub</h5>
			<h5>2. Parse the data to however you see fit</h5>
			<h5>3. curl -X GET https://pubsub-api.dev/subs/?name="" to get a random pub sub!</h5>
			<h5>Important note, take care of input by removing space and '.<h5>
</div>
</div>
</body>
</html>
